<%= simple_form_for(@order) do |f| %>
<%= f.input :name, input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
<%= f.input :address, input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
<%= f.input :email, input_html: {class:"border-0 border-bottom border-1 bg-light border-dark"} %>
<div class="d-flex justify-content-center">
  <%= f.submit "Enviar orden", class:"btn btn-dark col-8"%>
</div>
<% end %>
