<div id="<%= dom_id cart %>">
  <%# <h2 class="font-bold text-lg mb-3">Your Cart</h2> %>
  <table class="table-auto text-light p-2">
    <%= render cart.line_items %>
    <tfoot>
      <tr>
        <th class="text-end pe-2 pt-2 fs-3 text-info" colspan="3">  Total: </th>
        <td class="pt-2 fw-bold fs-3 ps-3 text-info">
          <%= number_to_currency(cart.total_price) %>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="d-flex justify-content-center mt-5 mb-5">
    <%= button_to 'Confirmar Orden', new_order_path, method: :get,
        class: 'btn btn-info rounded-2 pe-5 ps-5 fw-bold' %>
  </div>
  <div class="d-flex justify-content-center">
    <%= button_to 'Vaciar Carrito', cart, method: :delete,
        class: 'btn btn-outline-dark text-white' %>
  </div>
</div>
