
<div class="container  d-flex align-items-center" style="position: relative;">
  <img class="h d-block d-md-none " src="/assets/harina5.png" style="position: absolute" alt="">
  <img class="e d-none d-sm-block " src="/assets/harina5.png" style="position: absolute" alt="">
  <img class="f d-none d-sm-block " src="/assets/harina5.png" style="position: absolute" alt="">
  <img class="g d-none d-sm-block" src="/assets/harina5.png" style="position: absolute" alt="">
  <!-- <img class="h" src="/assets/harina5.png" style="position: absolute" alt=""> -->
  <div class="row justify-content-center  mx-auto">
    <div class="card-body container-form">
      <h2 class="text-center">Iniciar Sesión </h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" },
                        label_html: { class:"" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

        <div class="form-actions  d-flex justify-content-center">
          <%= f.button :submit, "Log in", class: "text-decoration-nones-08 bg-info col-12" %>
          <% end %>
        </div>

<!--    <%= render "devise/shared/links" %> -->
        <div class="text-center mt-3 container-form-login">
          <%= link_to "Olvidó su contraseña?", new_password_path(resource_name), class: "text-decoration-none text-dark fw-bold" %>
        </div>

        <div class="mt-3 p-2">
          <p class="text-center text-dark fs-bold container-form-login fw-bold"> Aún no tienes cuenta?
            <%= link_to "Registrate", new_registration_path(resource_name), class: "fs-md-3 text-decoration-none fw-bold text-info" %>
          </p>
        </div>

      </div>
     </div>
    </div>
  </div>
