<div id="<%= dom_id product %>">
  <!-- <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p> -->



  <div class="card mb-3 container-03 py-5" style="">
    <div class="row g-0">
      <div class="col-md-4  d-flex align-items-center justify-content-center">
        <img src="assets/solo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= product.name.capitalize %></h5>
          <p class="card-text"><%= product.description %></p>
          <p class="card-text"><%= number_to_currency(product.price) %></p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>

</div>
