<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>

<% if current_user.admin %>

  <%= link_to "Edit this product", edit_product_path(@product) %> |


  <%= button_to "Destroy this product", @product, method: :delete %>

  <% end %>


    <%= link_to "Back to products", products_path %>
    <%= link_to "Back to store", store_path %>
</div>
