<div class="back-btn mb-2 mt-0">
  <%= link_to  :back do%>
      <i class="fa-solid fa-circle-arrow-left  text-info fs-5 " class="back-btn rounded-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Go Back"></i>
  <% end %>
</div>

<p style="color: green"><%= notice %></p>

<div class="py-2">
<%= render @product %>
</div>

<div>
  <% if current_user.admin %>
    <%= link_to "Edit this product", edit_product_path(@product) %>
    <%= button_to "Destroy this product", @product, method: :delete %>
  <% end %>
</div>

    <!-- <%= link_to "Back to products", products_path %>
    <%= link_to "Back to store", store_path %> -->
