 <!DOCTYPE html>
<html>
  <head>
    <title>GraciaPanaderia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  </head>

  <body>
     <%= render "shared/navbars/navbar" %>
     

      <main class="container">
        <%= yield %>
        <%= render "shared/flashes" %>
      </main>


    <!-- <div class="col-3">
      <div class="container mx-auto mt-4 px-5 flex bg-info">
      <%= render partial: 'layouts/cart', locals: {cart: @cart } %>
      </div>
    </div> -->



</body>
</html>
